html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-self: flex-start;
  overflow: hidden;
  position: relative;
}

html:focus, body:focus { Outline:none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none;
  outline: none;
  overflow:hidden;
}

.MuiInputBase-input {
  padding: 0px;
  width: 100%;
  text-align: center;
}

.MuiAvatar-root {
  height: 36px;
  width: 36px;
}

.MuiPaper-root {
  /* color: rgba(228,225,209,1) !important;
  background: rgba(30,34,26,0.96) !important;  */
  box-shadow: 0px 0.5px 0px grey;
}

.MuiAutocomplete-input {
  color: rgba(245,245,245,1) !important;
}
/* 
.MuiPaper-root-MuiPopover-paper {
  /* background: rgba(30,34,26,0.96) !important; */
  /* left: 0 !important;
} */ 

.MuiList-root-MuiMenu-list {
  background: rgba(28,28,28,0.96) !important;
}

/* .MuiAccordionSummary-expandIconWrapper {
  color: rgba(228,225,209,1);
} */

.MuiFormLabel-root.Mui-focused {
  color: rgba(220, 220, 220, 1);
}

.MuiButtonBase-root.Mui-focused {
  /* color: rgba(147, 206, 214, 1); */
  color: rgba(245,245,245,1);
  font-family: monospace;
}

.Mui-checked {
  color: rgba(220,220,220,1) !important;
  fill: rgba(220,220,220,1) !important;
}

.MuiFormControl-root {
  justify-content: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: fit-content;
}

.MuiPaper-root-MuiAccordion-root {
  /* background: 'blue' !important; */
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  /* background-color: 'blue' !important; */
}

.MuiFormControl-root.side-nav {
  justify-content: flex-start;
}

.MuiSelect-icon  {
  color: #f5f5f5;
}

.fx-popup-left-row {
  width:'252px';
  display: flex;
  flex-direction: row;
}


#loadingScreen, #root, html {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgba(28,28,28,0.9);
}

#myFile {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
  width: 96px;
  height : 48px;
}

#scene-explorer-host {
  z-index: 10;
  height: 100vh;
  position: absolute! important;
  left: 0;
}

#inspector-host {
  height: 100vh;
  right: 0;
}

body{
  /* display:flex; */
  flex-direction:column;
}

.App {
  text-align: center;
}

#vizParentWrapper {
  /* width: 26rem; */
  width: 100%;
  height: calc(100% - 13.5rem);
  position: absolute; 
  left: 0px;
}

#fileManagerWrapper {
  /* width: calc(100vw - 26rem); */
  height: 12vh;
}

#sequencerWrapperOuter {
  display: inline-table;
  position: absolute;
  right: 0rem;
  flex-direction: row;
  justify-content: center;
  z-index: 20;
  overflow: auto;
  width: 100%;
}

#vizWrapper {
  /* width: 26rem; */
  top:0;
  right: 0;
  height: calc(100% - 13.5rem); 
  border: 1px solid #ffb238; 
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
}

#sampleToolsWrapper {
  /* width: calc(100vw - 28rem); */
  width: 100%;
  /* padding: 1rem; */
  overflow: auto;
}

#sequenceToolsWrapper {
  width: 100%;
  overflow: auto;
}

#treeBuilderWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
}

#keyboard {
  /* overflow-x: scroll; */
  position: relative;
  max-height: 12.5rem;
  display: inline-block;
  margin-top: 0rem;
  /* padding-left: 32px; */
  left: -6px;
  width: calc(100% + 36px);
  overflow-x: hidden;
  border-top: solid 1.5px #00A8A8;
}

#keyboardWrapper {
  overflow-x: hidden;
  z-index: 9999;
  transform: rotateX(13deg);
  padding-left: 8px;
  bottom: 0px;
  left: 140px;
  /* border-top: solid 1.5px #00A8A8; */
}

#keyboardBox {
  position: relative;
  display: inline-block;
  bottom: -5px;
  /* padding-right: 14px;
  padding-left: 2px; */
  /* left: 140px; */
  z-index: 100;
}

#leftContainerWrapper {
    position: absolute;
    box-shadow: 0.5px 0px 0px grey;
    height: 100vh;
    width: 140px;
    border-right: 1px solid #ff6a00;
}

#microTonesParentSpan::after {
  /* Renders the styles */
  content: "";
  /* Fills the entire space */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* backdrop-filter: blur(5px); */
  /* Creates the gradient */
  background-image: linear-gradient(#1E221A, #453B52);
  mix-blend-mode: multiply;
  /* Stacks the gradient behind the image */
  z-index: -1;
}






#demo-controlled-radio-buttons-group {
  overflow: auto;
  border: 0px;
    width: 100%;
    /* height: 2em; */
}

#instrumentBuilderWrapper {
  /* flex-direction: ROW; */
  display: flex;
  justify-content: LEFT;
  overflow-y: auto;
  position: absolute;
  height: 20vh;
  max-height: 20rem;
  /* width: calc(100vw - 28rem); */
  width: 100%;
  border: solid 1px #00A8A8;
  text-align: center;
  flex-direction: row;
  /* padding-top: 24px;
  padding-left: 24px; */
  /* padding: 1rem; */
  BACKGROUND: TRANSPARENT;
  overflow: auto;
  position: relative;
}

#synthControlsWrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 28vh; */
  /* top: 10vh !important; */
  position: absolute;
  background: transparent;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  /* width: calc(100vw - 26rem); */
  width: 100%;
  /* height: 100%; */
  text-align: center;
  /* background: var(--black-60); */
  overflow: auto;
  /* padding-left: 6rem;
  padding-right: 6rem; */
}

#instrumentBuilder {
  display: flex;
  flex-direction: column;
}

.instrumentCheckboxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  left: 10%;
  top: 10%;
  height: 80%;
  width: 80%;
}

.legend {
  pointer-events: auto;
}

.instrument-group-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 8px; 
  width: 100%;
}

.instrument-radio-selector {
  min-width: 33%;
}

#inputFileWrapper {
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  /* #keyboard {
    width: 52rem;
  } */
  #inputFileWrapper {
    flex-direction: column;
  }
  /* #rightPanelWrapper {
    left: 780px;
  } */
}

#keyboard li:first-child {
  border-radius: 5px 0 5px 5px;
}

#keyboard li:last-child {
  border-radius: 0 5px 5px 5px;
}

canvas {
    height: 100%;
    display: block;
}

@media screen and (min-width: 1200px) {
  /* canvas {
    left: 140px;
    flex: 1 1 auto;
    min-width: calc(100% - 140px);
  } */
}

#gameCanvas {
  flex: 1 1 auto;
  height: 100vh;
  width: 100vw;
}

#sampleDropdowns {
  display: flex;
  flex-direction: row;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.white,
.black {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  user-select: none;
  cursor: pointer;  
}


@keyframes fadeToTransparent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-height: 800px) {
  .white {
    /* background: linear-gradient(to bottom, #f5f5f5, 0%, hsl(0, 0%, 60%)) !important;
    background-color: linear-gradient(to bottom, #f5f5f5, 0%, hsl(0, 0%, 60%)) !important; */
background: linear-gradient(to bottom, #bfbfbf 0%, #9e9e9e 100%) !important;
  } 
  .black {
    /* background: linear-gradient(to bottom, rgba(40,10,0,1) 1%, hsl(0, 0%, 2%) 60%) !important;
    background-color: linear-gradient(to bottom, rgba(40,10,0,1) 1%, hsl(0, 0%, 2%) 60%) !important; */
  background: linear-gradient(to bottom, #1E221A 0%, #2a2a2a 100%) !important;
  }
  .white, .black {
    /* animation: fadeToTransparent 5s linear forwards; */
    transition: background 0.5s ease;
  }
}

@media screen and (max-height: 600px) {
  .white {
    /* background: linear-gradient(to bottom, #f5f5f5, 0%, hsl(0, 0%, 60%)) !important;
    background-color: linear-gradient(to bottom, #f5f5f5, 0%, hsl(0, 0%, 60%)) !important; */
background: linear-gradient(to bottom, #bfbfbf 0%, #d8d3cd 100%) !important;
  } 
  .black {
    /* background: linear-gradient(to bottom, rgba(40,10,0,1) 1%, hsl(0, 0%, 2%) 60%) !important;
    background-color: linear-gradient(to bottom, rgba(40,10,0,1) 1%, hsl(0, 0%, 2%) 60%) !important; */
  background: linear-gradient(to bottom, #3a5c52 0%, #2a2a2a 100%) !important;
  }
  .white, .black {
    animation: fadeToTransparent 0.7s linear forwards;
    transition: background 0.5s ease;
  }
  
  #rightPanelWrapper {
    /* height: 100% !important; */
    /* background: green !important;  */
  }
}

.pedalboard-canvas {
  width: 100%;
  height: 100%;
  display: block;  /* makes sure it behaves like a block-level element */
  /* background-color: #4d91ff; */
}

.white,
.equal_black_1 {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: .5rem 0; */
  user-select: none;
  cursor: pointer;
}

.white {
  height: 12.5rem;
  width: 3.5rem;
  z-index: 1;
  border-left: 1px solid hsl(0, 0%, 7%);
  border-bottom: 1px solid hsl(0, 0%, 73%);
  border-radius: 0 0 5px 5px;
  /* box-shadow: -1px 0 0 rgba(255,255,255,0.078) inset, 0 0 5px rgba(0,0,0,0.1) inset,
    0 0 3px var(--black-20); */
  
  /* background: linear-gradient(to bottom, grey 0%, black 100%); */
  background: linear-gradient(to bottom, #f5f5f5, 0%, hsl(0, 0%, 90%)); 
  color: #000000 !important;
  margin-left: -1rem;
  font-family: monospace;
}

#startMicrophoneButton {
  min-width: 6rem;
}

#inputFileWrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  #inputFileWrapper {
    flex-direction: column;
  }
  #treeBuilderWrapper {
    flex-direction: "column";
  }
  /* #instrumentBuilderWrapper {
    top: 49vh;
    height: 16vh;
  } */
  .instrument-group-wrapper {
    flex-direction: column;
  }
  #sampleToolsWrapper, #sequenceToolsWrapper { 
    flex-direction: column;
  }
  #sampleDropdowns {
    display: flex;
    flex-direction: column;
  }
  /* #sampleToolsWrapper {
    flex-direction: column;
  } */
}

.half {
  margin-right: 1.1rem; 
  border-radius: 0 0 3px 3px;
}

.black {
  height: 8rem;
  width: 2rem;
  margin: 0 0 0 -1rem;
  z-index: 2;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  /* box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
  background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%); */
  background: linear-gradient(90deg, rgba(40,10,0,1) 1%, hsl(0, 0%, 2%) 51%);
  
  color: #f5f5f5;
  font-family: monospace;
}

.equal_black_1 {
  height: 8rem;
  width: 1rem;
  margin: 0 0 0 -1.5rem;
  z-index: 2;
  border: 1px solid #00A8A8;
  border-radius: 0 0 3px 3px;
  /* box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
  background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%); */
  background: linear-gradient(45deg, rgba(20,80,160,1) 0%, hsl(0, 0%, 23%) 2%);
  color: #f5f5f5;
  font-family: monospace;
}

.equal_black_2 {
  height: 8rem;
  width: 1rem;
  margin: 0 0 0 0.5rem;
  z-index: 2;
  border: 1px solid green;
  border-radius: 0 0 3px 3px;
  
  /* box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
  background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%); */
  background: linear-gradient(45deg, rgba(20,80,160,1) 0%, hsl(0, 0%, 23%) 2%);
  color: #f5f5f5;
  font-family: monospace;
}

ul {
  /* display: inline-flex; */
  /* border-radius: 24px; */
  overflow: auto;
  position: absolute;
  /* background: black; */
}

#vizControls {
  position: absolute; 
  top: 0;
  right: 0;
  overflow: auto;
  display: none;
  z-index: 30;
  left: 0;
}

#inputFileWrapper {
  display: flex;
  float: center;
  left: 0;
}

.MuiPopover-root {
  max-height: 50vh;
}

.MuiAutocomplete-input {
  max-width: 124px;
}

.MuiFormLabel-root {
  color: #f5f5f5 !important;
  /* padding-right: 3rem;  */
}

.MuiSlider-valueLabel {
  background-color: unset;
  color: white;
}

.MuiSlider-track {
  background-color: unset;
  color: white;
}

.MuiSlider-rail {
  /* background-color: unset; */
  color: white;
}

#submitMingus {
  height: 44px;
  position: absolute; 
  z-index: 22;
  justify-content: center;
} */ 

.invisible {
  visibility: hidden;
}

.startButton > * {
  font-size: 6rem;
}

#audioKey-simple-select-label #octave-simple-select-label #audioScale-simple-select-label #chord-simple-select-label{
  z-index: 9999;
}

.MuiRadio-root {
  color: #f5f5f5 !important;
}

.MuiButtonBase-root {
  color: rgba(255,255,255,0.78);
  font-family: monospace;
}

.MuiTypography-root {
  font-family: monospace;
  font-size: 12px;
}

.introListLetter {
  padding: 0; 
  display: flex;
  flex-direction: column !important;
}

.MuiMenu-paper {
  width: 13rem !important;
  right: 2rem !important;
}

.MuiListItemButton-root {
  /* max-height: 3rem; */
  max-height: 48px;
}

/* .MuiPaper-root-MuiPopover-paper {
  background: rgba(30,34,26,0.96) !important;
  left: 0 !important;
} */

.selected {
  border: solid 1px white !important;
}

.litAscending {
  background: linear-gradient(45deg, rgba(17,110,246,0.96) 0%, rgba(0,172,224,0.88) 40%);
  background-color: linear-gradient(45deg, rgba(0,224,205,0.88) 0%, rgba(17,110,224,0.88) 40%);
}

.litDescending {
  background: linear-gradient(45deg, rgba(17,110,246,0.96) 0%, rgba(0,224,205,0.88)  40%);
  background-color: linear-gradient(45deg, rgba(0,172,224,0.88) 0%, rgba(17,110,224,0.88) 40%);
}

/* .countWrapper {
  left: 140px;
  width: 100%;
} */

.MuiSlider-markLabel {
  color: rgb(27, 191, 202);
  margin-top: -4px;
  background: transparent !important;
  z-index: 1000;
}

.MuiSlider-valueLabelOpen {
  transform: translateY(0%) !important;
}

.MuiSlider-mark {
  color: gray;
  height: 50%;
}

.MuiSlider-valueLabelLabel {
  color: rgb(175, 240, 91);
  top: 50%;
  background: transparent !important;
}

.MuiSlider-thumb {
  color: #ff5aa2;
}


/* @media screen and (max-width: 900px) {
  .countWrapper {
    position: inherit;
    left: 0px;
    width: 100%;
  }
} */
/* 
@media screen and (min-width: 1400px) {
  canvas {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1400px) {
  canvas {
      margin-left: 0px;
  }
} */

.pedalboard-canvas {
    /* height: 100vh; */
    overflow:visible !important;
    border: solid 1px rgba(0,0,0,0.3);
}

.slider-item {
  padding: 10px;
  background-color: lightblue;
  border-radius: 8px;
  margin: 5px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

#toggleSourceGroup {
  color: #ffffff !important;
  display: flex; 
  flex-direction: row; 
  justify-content: top !important;
  align-items: top;
  font-family: monospace;
  font-size: 12px;
  left: 0px;
  border: 0px;
  width: 100%;
  z-index: 15;
  justify-content: center;
  /* border: solid 1px #FFB238; */
  border: 1px solid #DCDCDC;
  justify-content: space-around;
}

.option-button-source-toggle {
  min-width: 40px;        
  font-family: monospace;
  color: rgba(255,255,255,0.6);
}

.Mui-selected {
  /* color: rgba(0,0,0,0.97) !important; */
  background-color: rgba(255,255,255,0.9) !important;
}

.right-panel-header-wrapper {
  /* background: rgba(255,255,255,0.6) !important; */
  width: 100%;
  display: flex;
  z-index: 1000;
  /* border-top: solid 1px rgba(255,255,255,0.78);
  border-bottom: solid 1px rgba(255,255,255,0.78); */
  /* border: solid 1px #FF5AA2; */

}

.right-panel-header-button {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 80px;

}

.right-panel-header-button:hover {
  background: "#FF6A00";
  cursor: pointer;
}

#rightPanelHeader {
  /* border: solid .5px rgba(255,255,255,0.78); */
  z-index: 1000;
}

#checkboxAccordionOuter {
  background: rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
}

#rightPanelWrapper {
  display: flex;
  padding: 0px;
  position: absolute;
  background: rgba(0,0,0,0.7);
  /* background: linear-gradient(45deg, rgba(0,24,25,0.98) 0%, rgba(17,10,24,0.90) 40%); */
  color: rgba(255,255,255,0.78);
  /* border: solid 0.5px rgba(255,255,255,0.38); */
  right: 0;
  top: 64px;
  border: solid 1px #00A8A8;
  /* left: 780px; */
  height: calc(100vh - 16.3rem);
  text-align: center;
  /* box-shadow: 0px 0.75px 0px grey; */
  z-index: 10;
  /* padding-top: 20px; */
  padding-top: 0px;
  z-index: 99999;
  min-width: 600px;;
}

#frontendOuterWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#relativeFrontendWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
}

#reactDiagramsPedalboardWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  /* height: 100%; */
  width: 216px;
  overflow: visible !important;
  z-index: 3 !important;
  /* background-color: rgba(0,0,0,0.38); */
}

#checkboxPanelHeader {
  max-height: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* margin: 8px; */
  width: 100%;
  padding: 8px;
  text-align: left;
}

.pattern-rate-title {
    max-height: 40px;
    width: -webkit-fill-available; 
    padding-right: 48PX; 
    padding-left: 48PX;
    font-family: monospace;
    padding-top: 16px;
    padding-bottom: 16px;
}

#toggleDropdown {
  width: 100%;
  padding: 5px;
  font-family: monospace;
  font-size: 12px;
  background: rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.78);
  border: 1px solid #9e9e9e;
  min-height: 32px;
  height: 100%;
}

.MuiTextField-root {
  background: transparent;
  background-color: transparent;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 12px;
}

/* .MuiAccordionSummary-content {
  min-height: 12px;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 12px;
} */
.MuiAccordionSummary-root {
  min-height: 32px;
  /* margin-top: 8px; */
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 12px;
}

.MuiAccordionSummary-content.Mui-expanded {
  /* padding-top: 8px; */
  margin: 0px 0;
}

.MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px;
}

.activeVizKey {
  background: #bfbfbf !important;
  color: white !important;
  /* background-color: rgba(0,0,255,0.1) !important; */
}

.note-len-title {
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
}